<div class="container-fluid">
<p>กลัวมันจะเป็นเพลงรักที่เธอนั้นมองผ่าน</p>
<p>เป็นบทเพลงหวานๆที่มีความหมาย</p>
<p>กลัวเธอจะไม่ซึ้งถึงข้อความที่สวยงามสักเท่าไหร่</p>
<p>เพลงของเธอต้องตั้งใจฟัง</p>
</div>
<ul class="nav ">
    <li class="nav-item"><a href="#" class="nav-link">เมนูทั้งหมด</a></li>
    <li class="nav-item"><a href="#" class="nav-link">เกี่ยวกับเรา</a></li>
    <li class="nav-item"><a href="#" class="nav-link">หน้าหลัก</a></li>
    <li class="nav-item"><a href="#" class="nav-link">ออกจากระบบ</a></li>
</ul>
