<nav class="navbar navbar-expand-lg navbar-dark mb-4" style="background-color: #293b5f">
  <div class="container-fluid">
    <div class="d-flex w-100 justify-content-between align-items-center">
        <div class="d-flex ">
            <h4 class="text-light p-1 fw-bold">Demo</h4>
            <ul class="nav d-flex w-100 px-3 nav-black justify-content-end">
                <li class="nav-item">
                    <a routerLink="productDetail" class="nav-link  fw-bold">ค้นหา</a>
                </li>
                <li class="nav-item">
                    <a routerLink="empByAdmin" class="nav-link  fw-bold"
                        [appHideIfClaumsNotMet]="Role.admin">ผู้รับผิดชอบ</a>
                </li>
                <li class="nav-item">
                    <a routerLink="CusByAdmin" class="nav-link  fw-bold" [appHideIfClaumsNotMet]="Role.admin">พนักงานขาย</a>
                </li>
    
            </ul>
        </div>
        <div>
            <button class="fw-bold btn btn-danger" (click)="Logout()">ออกจากระบบ</button>
        </div>
    
    
    
    </div>
  </div>
</nav>


<router-outlet></router-outlet>
